.ChatListContainer {
  position: relative;
  top: 140px;
  width: 30vw;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-image: linear-gradient(#dae1e9, #f9e8ee);
  border-radius: 32px 32px 0px 0px;
  overflow: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 992px) {
  .ChatListContainer {
    width: 100vw;
  }
}
