.ChatRoom {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.Chats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
}

::-webkit-scrollbar {
  width: 4px;
  background:rgba(223, 224, 227,0.1);
}
::-webkit-scrollbar-track{
  display: none;
}
::-webkit-scrollbar-thumb{
  border-radius: 16px;
  background: rgba(148, 148, 148, 0.5);
  height: 10px;
}