.ChatListContainer {
  position: relative;
  top: 125px;
  width: 360px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: linear-gradient(#DAE1E9, #F9E8EE);
  border-radius: 32px 32px 0px 0px;

}
