.container {
  background-color: #1d334d;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container2,
.container3 {
  width: 380px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}
.container3 {
  height: 625px;
}
.container2 {
  height: 570px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.inputIcon {
  font-size: 24px;
  color: #949494;
  padding-right: 8px;
}
.inputIconP {
  font-size: 28px;
  color: #949494;
  padding: 8px;
}

.field {
  width: 310px;
  height: 54px;
  background-color: #dfe0e3;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
}
input[type="text"],
input[type="password"] {
  background-color: #dfe0e3;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  text-align: right;
  outline: none;
  padding-right: 8px;
  font-family: "Vazir-Regular";
}
#submit {
  width: 290px;
  height: 54px;
  border-radius: 32px;
  border: none;
  background-color: #1d334d;
  color: #ffffff;
  font-size: 18px;
  margin-top: 16px;
  font-family: "Vazir-Regular";
}
#link {
  width: 360px;
  height: 64px;
  border: none;
  background-color: #ffffff;
  color: #949494;
  font-size: 18px;
  font-family: "Vazir-Regular";
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
}
.title {
  font-size: 36px;
  color: #1d334d;
  font-family: "Vazir-Bold";
}
.userImg {
  width: 96px;
  height: 96px;
  padding-top: 20px;
}
.error {
  font-size: 14px;
  color: #fb0100;
  font-family: "Vazir-Regular";
}
