.messageContainerUser {
  background-color: #ebedf0;
  border-radius: 16px 16px 0 16px;
  margin-bottom: 24px;
  height: min-content;
  max-width: 300px;
  width: fit-content;
  position: relative;
  left: 512px;
}
.textUser {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  word-wrap: break-word;
  color: #1d334d;
  font-family: "Vazir-Regular";
}
.dateUser,
.dateClient {
  padding: 12px;
  font-size: 12px;
  color: #949494;
  font-family: "Vazir-Regular";
}
.messageContainerClient {
  background-color: #fde1e0;
  border-radius: 0 16px 16px 16px;
  height: min-content;
  max-width: 300px;
  width: fit-content;
  block-size: fit-content;
  margin-bottom: 24px;
  margin-left: 24px;
}
.textClient {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  word-wrap: break-word;
  color: #1d334d;
  font-family: "Vazir-Regular";
}
