.messageContainerUser {
  background-color: #e0d5ff;
  border-radius: 16px 16px 0 16px;
  margin-bottom: 12px;
  height: min-content;
  text-align: right;
  max-width: 55vw;
  width: fit-content;
  white-space: pre-wrap;
  align-self: flex-end;
  margin-right: 24px;
  direction: rtl;
}
.textUser {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  word-wrap: break-word;
  color: #1d334d;
  font-family: "Vazir-Regular";
  font-size: 14px;
}
.dateUser,
.dateClient {
  padding: 12px;
  font-size: 10px;
  color: #949494;
  font-family: "Vazir-Regular";
}
.messageContainerClient {
  background-color: #ebebeb;
  border-radius: 0 16px 16px 16px;
  height: min-content;
  max-width: 55vw;
  width: fit-content;
  float: right;
  text-align: right;
  margin-bottom: 12px;
  white-space: pre-wrap;
  margin-left: 24px;
  direction: rtl;
}
.textClient {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  word-wrap: break-word;
  color: #1d334d;
  font-family: "Vazir-Regular";
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .messageContainerUser,
  .messageContainerClient {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .messageContainerUser,
  .messageContainerClient {
    max-width: 450px;
  }
}
@media screen and (max-width: 480px) {
  .messageContainerUser,
  .messageContainerClient {
    max-width: 320px;
  }
}
