.SearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d334d;
  width: 30vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.Searchbar {
  width: 30vw;
  background-color: #1d334d;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding-top: 16px;
  padding-bottom: 16px;
}
.BackIcon,
.CloseIcon,
.SearchIcon {
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
}
.SearchInput {
  height: fit-content;
  width: 20vw;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-family: "Vazir-Regular";
  background-color: #1d334d;
  border: none;
  text-align: right;
  direction: rtl;
}
.SearchInput:focus {
  background-color: #1d334d;
}
.SearchInput::placeholder {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .SearchContainer {
    width: 100vw;
  }
  .Searchbar {
    width: 100vw;
  }
}
