.SearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d334d;
  width: 30vw;
  height: 100vh;
}
.Searchbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.BackIcon,
.CloseIcon,
.SearchIcon {
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
}
.SearchInput {
  height: 48px;
  width: 20vw;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-family: "Vazir-Regular";
  background-color: #1d334d;
  border: none;
  text-align: right;
  direction: rtl;
}
.SearchInput::placeholder {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .SearchContainer {
    width: 100vw;
  }
}
