.titleContainer {
  width: 70vw;
  height: 76px;
  background-color: #20334d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
}
.profile {
  width: 54px;
  height: 54px;
  border-radius: 30px;
  margin-right: 32px;
}
.nameC {
  color: #fff;
  font-size: 20px;
  font-family: "Vazir-Regular";
}
.backIcon {
  font-size: 28px;
  color: #fff;
  padding-right: 16px;
}
@media screen and (min-width: 992px) {
  .backIcon {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .titleContainer {
    width: 100vw;
  }
}
