@font-face {
  font-family: "Vazir-Bold";
  src: url("./fonts/Vazir-Bold-FD.ttf");
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("./fonts/Vazir-Medium-FD.ttf");
}
@font-face {
  font-family: "Vazir-Regular";
  src: url("./fonts/Vazir-Regular-FD.ttf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
